---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/services

- Media:
{% if plex_installation_enabled == true %}
    - Plex:
        icon: plex.png
        href: http://{{ plex_service_hostname }}
        description: Media server
        server: homeserver
        container: plex
        widget:
          type: plex
          url: http://plex:32400
          key: {{ plex_apikey }}
{% endif %}

- Tools:
{% if transmission_installation_enabled == true %}
    - Transmission:
        icon: transmission.png
        href: http://{{ transmission_service_hostname }}
        description: Torrent downloader
        server: homeserver
        container: transmission
        widget:
          type: transmission
          url: http://transmission:9091
          username: {{ transmission_username }}
          password: {{ transmission_password }}
{% endif %}
{% if filebrowser_installation_enabled == true %}
    - FileBrowser:
        icon: filebrowser.png
        href: http://{{ filebrowser_service_hostname }}
        description: Torrent downloader
        server: homeserver
        container: filebrowser
{% endif %}

- Services:
{% if gitlab_installation_enabled == true %}
    - GitLab:
        icon: gitlab.png
        href: http://{{ gitlab_service_hostname }}
        description: Development platform
        server: homeserver
        container: gitlab
{% endif %}
{% if nginx_proxy_installation_enabled == true %}
    - Nginx-proxy:
        icon: nginx.png
        description: Reverse proxy server
        server: homeserver
        container: nginx-proxy
{% endif %}
{% if samba_installation_enabled == true %}
    - Samba:
        icon: files.png
        description: Fileshare service
        server: homeserver
        container: samba
{% endif %}