---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/services

- Media:
{% if plex_installation_enabled == true %}
    - Plex:
        icon: plex.png
        href: http://{{ plex_service_hostname }}
        description: Media server
        server: homeserver
        container: plex
        widget:
          type: plex
          url: http://plex:32400
          key: {{ plex_apikey }}
{% endif %}
{% if tubearchivist_installation_enabled == true %}
    - TubeArchivist:
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/tube-archivist.png
        href: http://{{ tubearchivist_service_hostname }}
        description: Torrent stream server
        server: homeserver
        container: tubearchivist
        widget:
          type: tubearchivist
          url: http://tubearchivist:8000
          key: {{ tubearchivist_apikey }}
{% endif %}
{% if nextcloud_installation_enabled == true %}
    - NextCloud:
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/nextcloud.png
        href: http://{{ nextcloud_service_hostname }}
        description: Local cloud service
        server: homeserver
        container: nextcloud
{% endif %}
{% if overseerr_installation_enabled == true %}
    - Overseerr:
        icon: overseerr.png
        href: http://{{ overseerr_service_hostname }}
        description: Request TV Shows and Movies via WebUI
        server: homeserver
        container: overseerr
{% endif %}
{% if sonarr_installation_enabled == true %}
    - Sonarr:
        icon: sonarr.png
        href: http://{{ sonarr_service_hostname }}
        description: TV Shows Management
        server: homeserver
        container: sonarr
{% endif %}
{% if radarr_installation_enabled == true %}
    - Radarr:
        icon: radarr.png
        href: http://{{ radarr_service_hostname }}
        description: Movies Management
        server: homeserver
        container: radarr
{% endif %}
{% if tvheadend_installation_enabled == true %}
    - TVHeadend:
        icon: tvheadend.png
        href: http://{{ tvheadend_service_hostname }}
        description: TV Channels over LAN
        server: homeserver
        container: tvheadend
{% endif %}
{% if metube_installation_enabled == true %}
    - MeTube:
        icon: metube.png
        href: http://{{ metube_service_hostname }}
        description: Video Downloader WebUI
        server: homeserver
        container: metube
{% endif %}

- Tools:
{% if transmission_installation_enabled == true %}
    - Transmission:
        icon: transmission.png
        href: http://{{ transmission_service_hostname }}
        description: Torrent downloader
        server: homeserver
        container: transmission
        widget:
          type: transmission
          url: http://transmission:9091
          username: {{ transmission_username }}
          password: {{ transmission_password }}
{% endif %}
{% if motioneye_installation_enabled == true %}
    - MotionEye:
        icon: motioneye.png
        href: http://{{ motioneye_service_hostname }}
        description: NVR monitoring
        server: homeserver
        container: motioneye
{% endif %}
{% if filebrowser_installation_enabled == true %}
    - FileBrowser:
        icon: filebrowser.png
        href: http://{{ filebrowser_service_hostname }}
        description: Web filebrowser
        server: homeserver
        container: filebrowser
{% endif %}
{% if pihole_installation_enabled == true %}
    - PiHole:
        icon: pi-hole.png
        href: http://{{ pihole_service_hostname }}
        description: Network-wide protection
        server: homeserver
        container: pihole
        widget:
          type: pihole
          url: http://pihole:3080
          key: {{ pihole_apikey }}
{% endif %}
{% if speedtest_installation_enabled == true %}
    - Speedtest:
        icon: speedtest-tracker.png
        href: http://{{ speedtest_service_hostname }}
        description: Speedtest Tracking
        server: homeserver
        container: speedtest
        widget:
          type: speedtest
          url: http://speedtest:80
{% endif %}
{% if whoogle_installation_enabled == true %}
    - Whoogle:
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/whoogle.png
        href: http://{{ whoogle_service_hostname }}
        description: Whoogle search engine
        server: homeserver
        container: whoogle
{% endif %}


- Services:
{% if nginx_proxy_installation_enabled == true %}
    - Nginx-proxy:
        icon: nginx.png
        description: Reverse proxy server
        server: homeserver
        container: nginx-proxy
{% endif %}
{% if torrserver_installation_enabled == true %}
    - Torrserver:
        icon: https://developer.asustor.com/uploadIcons/0020_131612_1639825715_torrserver.PNG
        href: http://{{ torrserver_service_hostname }}
        description: Torrent stream server
        server: homeserver
        container: torrserver
{% endif %}
{% if prometheus_installation_enabled == true %}
    - Prometheus:
        icon: prometheus.png
        href: http://{{ prometheus_service_hostname }}
        description: Metrics service
        server: homeserver
        container: prometheus
{% endif %}
{% if samba_installation_enabled == true %}
    - Samba:
        icon: files.png
        description: Fileshare service
        server: homeserver
        container: samba
{% endif %}
{% if postgres_installation_enabled == true %}
    - Postgres:
        icon: postgres.png
        description: SQL database
        server: homeserver
        container: postgres
{% endif %}
{% if ps3netsrv_installation_enabled == true %}
    - ps3netsrv:
        icon: stash.png
        description: PS3 remote server
        server: homeserver
        container: ps3netsrv
{% endif %}
{% if jackett_installation_enabled == true %}
    - Jackett:
        icon: jackett.png
        href: http://{{ jackett_service_hostname }}
        description: Movies and TV Shows indexer
        server: homeserver
        container: jackett
{% endif %}


- Development:
{% if gitlab_installation_enabled == true %}
    - GitLab:
        icon: gitlab.png
        href: http://{{ gitlab_service_hostname }}
        description: Development platform
        server: homeserver
        container: gitlab
{% endif %}
{% if grafana_installation_enabled == true %}
    - Grafana:
        icon: grafana.png
        href: http://{{ grafana_service_hostname }}
        description: Monitoring Service
        server: homeserver
        container: grafana
        widget:
          type: grafana
          url: http://grafana:3000
          username: {{ grafana_username }}
          password: {{ grafana_password }}
{% endif %}
{% if pgadmin_installation_enabled == true %}
    - pgAdmin:
        icon: pgadmin.png
        href: http://{{ pgadmin_service_hostname }}
        description: GUI tool for Postgres
        server: homeserver
        container: pgadmin
{% endif %}
{% if nexus_installation_enabled == true %}
    - Nexus:
        icon: emqx.png
        href: http://{{ nexus_service_hostname }}
        description: Repository Manager
        server: homeserver
        container: nexus
{% endif %}