[Unit]
Description=Sonarr service
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ systemd_unit_home_path }}"
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} kill sonarr 2>/dev/null'
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} rm sonarr 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name sonarr \
			--log-driver=none \
			--network={{ nginx_docker_network }} \
			--env TZ={{ timezone }} \
      		--env VIRTUAL_HOST={{ sonarr_service_hostname }} \
			--env PUID={{ sonarr_uid }} \
  			--env PGID={{ sonarr_gid }} \
#			-p 8989:8989 \
      		-v {{ sonarr_config_path }}:/config \
			-v {{ sonarr_tv_path }}:/tv \
			-v {{ sonarr_downloads_path }}:/downloads \
			{{ sonarr_docker_image }}


ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} kill sonarr 2>/dev/null'
ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} rm sonarr 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=sonarr

[Install]
WantedBy=multi-user.target
