[Unit]
Description=Grafana service
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ systemd_unit_home_path }}"
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} kill grafana 2>/dev/null'
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} rm grafana 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name grafana \
			--log-driver=none \
			--network={{ nginx_docker_network }} \
			--env TZ={{ timezone }} \
      		--env VIRTUAL_HOST={{ grafana_service_hostname }} \
			--env GF_SECURITY_ADMIN_USER={{ grafana_username }} \
			--env GF_SECURITY_ADMIN_PASSWORD={{ grafana_password }} \
#			--env GF_SERVER_ROOT_URL=grafana.loc \
#			-p 3000:3000 \
      		-v {{ grafana_data_path }}:/var/lib/grafana \
      		-v {{ grafana_config_path }}:/etc/grafana \
			{{ grafana_docker_image }}


ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} kill grafana 2>/dev/null'
ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} rm grafana 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=grafana

[Install]
WantedBy=multi-user.target
