PUID={{ speedtest_uid }}
PGID={{ speedtest_gid }}
TZ={{ timezone }}
APP_KEY={{ speedtest_app_key }}
APP_URL={{ speedtest_app_url }}
APP_TIMEZONE={{ timezone }}
DISPLAY_TIMEZONE={{ timezone }}
DB_CONNECTION=sqlite
SPEEDTEST_SCHEDULE={{ speedtest_schedule }}
PRUNE_RESULTS_OLDER_THAN={{ speedtest_prune_results_older_than }}
ADMIN_NAME={{ speedtest_admin_name }}
ADMIN_EMAIL={{ speedtest_admin_email }}
ADMIN_PASSWORD={{ speedtest_admin_password }}
