[Unit]
Description=ps3netsrv service
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ systemd_unit_home_path }}"
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} kill ps3netsrv 2>/dev/null'
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} rm ps3netsrv 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name ps3netsrv \
			--log-driver=none \
			--env TZ={{ timezone }} \
            -p {{ ps3netsrv_service_port }}:{{ ps3netsrv_service_port }} \
            -v {{ ps3netsrv_game_path }}:/games:rw \
            -e PUID={{ ps3netsrv_uid }} \
            -e PGID={{ ps3netsrv_gid }} \
			{{ ps3netsrv_docker_image }}

ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} kill ps3netsrv 2>/dev/null'
ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} rm ps3netsrv 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=ps3netsrv

[Install]
WantedBy=multi-user.target
