auth:
{% for samba_user in samba_users %}
  - user: {{ samba_user.name }}
    group: {{ samba_user.group }}
    uid: {{ samba_user.uid }}
    gid: {{ samba_user.gid }}
    password: ${SAMBA_PASSWORD_{{ samba_user.name | upper }}}
{% endfor %}

global:
  - "force group = {{ samba_force_group }}"
  - "server min protocol = SMB2_10"
  - "map to guest = never"
  - "server smb encrypt = desired"

share:
{% for samba_share in samba_shares %}
  - name: {{ samba_share.name }}
    comment: {{ samba_share.name }}
    path: {{ samba_share.container_path }}
    browsable: yes
    readonly: no
    guestok: no
    validusers: {{ (samba_share.read_users + samba_share.write_users) | unique | join(', ') }}
{% if samba_share.read_users | length > 0 %}
    readlist: {{ samba_share.read_users | join(', ') }}
{% endif %}
{% if samba_share.write_users | length > 0 %}
    writelist: {{ samba_share.write_users | join(', ') }}
{% endif %}
    invalidusers: guest
    veto: no
    hidefiles: /_*
{% endfor %}
