[Unit]
Description=Nexus service
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ systemd_unit_home_path }}"
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} kill nexus 2>/dev/null'
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} rm nexus 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name nexus \
			--log-driver=none \
			--network={{ nginx_docker_network }} \
			--env TZ={{ timezone }} \
      		--env VIRTUAL_HOST={{ nexus_service_hostname }} \
			--env VIRTUAL_PORT={{ nexus_service_port }} \
#			-p 8081:8081 \
      		-v {{ nexus_data_path }}:/nexus-data \
			{{ nexus_docker_image }}

ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} kill nexus 2>/dev/null'
ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} rm nexus 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=nexus

[Install]
WantedBy=multi-user.target
