server {
  server_name homepage.loc www.homepage.loc;

  location / {
    resolver 127.0.0.11;
    set $project http://homepage:3000;
    
    proxy_pass $project;

    proxy_set_header Host $host;
		proxy_set_header X-Forwarded-For $remote_addr;
  }
}