[Unit]
Description=Prometheus-blackbox service
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ systemd_unit_home_path }}"
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} kill prometheus-blackbox 2>/dev/null'
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} rm prometheus-blackbox 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name prometheus-blackbox \
			--log-driver=none \
			--network={{ nginx_docker_network }} \
			--env TZ={{ timezone }} \
			-p 9115:9115 \
			-v {{ prometheus_blackbox_exporter_config_path }}:/config \
			{{ prometheus_blackbox_exporter_docker_image }} \
			--config.file=/config/blackbox.yml


ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} kill prometheus-blackbox 2>/dev/null'
ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} rm prometheus-blackbox 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=prometheus-blackbox

[Install]
WantedBy=multi-user.target