[Unit]
Description=Plex service
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ systemd_unit_home_path }}"
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} kill plex 2>/dev/null'
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} rm plex 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name plex \
			--log-driver=none \
			--network={{ nginx_docker_network }} \
			--env TZ={{ timezone }} \
            --env PUID={{ plex_uid }} \
            --env PGID={{ plex_gid }} \
            --env VERSION=docker \
            --env PLEX_CLAIM={{ plex_claim }} \
            --env VIRTUAL_HOST={{ plex_service_hostname }} \
            --env VIRTUAL_PORT={{ plex_service_port }} \
            -p 32400:32400 \
            -v {{ plex_data_path }}:/config \
            -v {{ plex_tvseries_path }}:/tv \
            -v {{ plex_movies_path }}:/movies \
            -v {{ transmission_file_path }}/downloads:/torrent \
			{{ plex_docker_image }}

ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} kill plex 2>/dev/null'
ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} rm plex 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=plex

[Install]
WantedBy=multi-user.target
