[Unit]
Description=Home-Assistant service
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ systemd_unit_home_path }}"
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} kill home-assistant 2>/dev/null'
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} rm home-assistant 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name home-assistant \
			--log-driver=none \
			--network={{ nginx_docker_network }} \
			--env TZ={{ timezone }} \
            --privileged \
            --env VIRTUAL_HOST={{ home_assistant_service_hostname }} \
			--env VIRTUAL_PORT={{ home_assistant_service_port }} \
			-p {{ home_assistant_service_port }}:{{ home_assistant_service_port }} \
            -v {{ home_assistant_data_path }}:/config \
			{{ home_assistant_docker_image }}

ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} kill home-assistant 2>/dev/null'
ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} rm home-assistant 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=home-assistant

[Install]
WantedBy=multi-user.target
