[Unit]
Description=Radarr service
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ systemd_unit_home_path }}"
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} kill radarr 2>/dev/null'
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} rm radarr 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name radarr \
			--log-driver=none \
			--network={{ nginx_docker_network }} \
			--env TZ={{ timezone }} \
      		--env VIRTUAL_HOST={{ radarr_service_hostname }} \
			--env PUID={{ radarr_uid }} \
  			--env PGID={{ radarr_gid }} \
#			-p 8989:8989 \
      		-v {{ radarr_config_path }}:/config \
			-v {{ radarr_tv_path }}:/tv \
			-v {{ radarr_downloads_path }}:/downloads \
			{{ radarr_docker_image }}


ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} kill radarr 2>/dev/null'
ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} rm radarr 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=radarr

[Install]
WantedBy=multi-user.target