server {
  server_name transmission.loc www.transmission.loc;

  location / {
    resolver 127.0.0.11;
    set $project http://transmission:9091;
    
    proxy_pass $project;

    proxy_set_header Host $host;
		proxy_set_header X-Forwarded-For $remote_addr;
  }
}