[Unit]
Description=FileBrowser service
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ systemd_unit_home_path }}"
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} kill filebrowser 2>/dev/null'
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} rm filebrowser 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name filebrowser \
			--log-driver=none \
			--network={{ nginx_docker_network }} \
			--env TZ=Europe/Samara \
      --env VIRTUAL_HOST={{ filebrowser_service_hostname }} \
      -v /datafolder/sharefolder:/srv \
#      -p 49080:80 \
      -v {{ filebrowser_config_path }}:/database \
      -v {{ filebrowser_database_path }}:/config \
      -e PUID={{ filebrowser_uid }} \
      -e PGID={{ filebrowser_gid }} \
			{{ filebrowser_docker_image }}

ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} kill filebrowser 2>/dev/null'
ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} rm filebrowser 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=filebrowser

[Install]
WantedBy=multi-user.target
