[Unit]
Description=FileBrowser service
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ systemd_unit_home_path }}"
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} kill filebrowser 2>/dev/null'
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} rm filebrowser 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name filebrowser \
			--log-driver=none \
			--network={{ nginx_docker_network }} \
			--env TZ={{ timezone }} \
			--env PUID={{ filebrowser_uid }} \
			--env PGID={{ filebrowser_gid }} \
			--env VIRTUAL_HOST={{ filebrowser_service_hostname }} \
			--env VIRTUAL_PORT={{ filebrowser_service_port }} \
			-v {{ filebrowser_root_path }}:/srv \
			-v {{ filebrowser_config_path }}:/config \
			-v {{ filebrowser_database_path }}:/database \
			{{ filebrowser_docker_image }}

ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} kill filebrowser 2>/dev/null'
ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} rm filebrowser 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=filebrowser

[Install]
WantedBy=multi-user.target
