# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# Text to speech
tts:
  - platform: google_translate

# Dashboards
#dashboards:
#  ui-myhome:
#    filename: !include dashboards/ui-myhome.yaml

#automation: !include automations.yaml
#script: !include scripts.yaml
#scene: !include scenes.yaml