[Unit]
Description=Postgres service
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ systemd_unit_home_path }}"
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} kill postgres 2>/dev/null'
ExecStartPre=-{{ host_command_sh }} -c '{{ host_command_docker }} rm postgres 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name postgres \
			      --log-driver=none \
			      --network={{ nginx_docker_network }} \
			      --env TZ={{ timezone }} \
            --env VIRTUAL_HOST={{ postgres_service_hostname }} \
            --env POSTGRES_USER={{ postgres_user }} \
            --env POSTGRES_PASSWORD={{ postgres_password }} \
            --env PGDATA=/var/lib/postgresql/data/pgdata \
            -p 5432:5432 \
            -v {{ postgres_data_path }}:/var/lib/postgresql/data \
			      {{ postgres_docker_image }}

ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} kill postgres 2>/dev/null'
ExecStop=-{{ host_command_sh }} -c '{{ host_command_docker }} rm postgres 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=postgres

[Install]
WantedBy=multi-user.target
