# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ["prometheus:9090"]

  # Home_server
  - job_name: "prometheus-smartctl-home-server"
    static_configs:
      - targets: ["prometheus-smartctl:9902"]
        labels:
          instance: 'home-server'

  - job_name: "prometheus-node-home-server"
    static_configs:
      - targets: ["prometheus-node:9100"]
        labels:
          instance: 'home-server'

  - job_name: "prometheus-cadvisor-home-server"
    static_configs:
      - targets: ["prometheus-cadvisor:8080"]
        labels:
          instance: 'home-server'

  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets:
        - 8.8.8.8
        - ya.ru
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: prometheus-blackbox:9115  # This is your blackbox exporter.

  # Grafana/Runner_server      
  - job_name: "prometheus-node-grafana"
    static_configs:
      - targets: ["grafana-thinkpad.loc:9100"]
        labels:
          instance: 'grafana&runner-server'

  - job_name: "prometheus-runner-grafana"
    static_configs:
      - targets: ["grafana-thinkpad.loc:9252"]
        labels:
          instance: 'grafana&runner-server'

  # App_server
  - job_name: "prometheus-smartctl-app-server"
    static_configs:
      - targets: ["app.loc:9902"]
        labels:
          instance: 'app-server'

  - job_name: "prometheus-node-app-server"
    static_configs:
      - targets: ["app.loc:9100"]
        labels:
          instance: 'app-server'

  - job_name: "prometheus-cadvisor-app-server"
    static_configs:
      - targets: ["app.loc:8080"]
        labels:
          instance: 'app-server'
